/**
 * GENERAL
 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.navbar.navbar-dark {
    opacity: 0.7;
    transition: opacity 0.2s ease-out;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar.navbar-dark:hover {
    opacity: 1;
}

#global_alert_container .alert {
    border-radius: 0;
    margin-bottom: 0 !important;
}

#search_property_form .custom-select {
    max-width: 200px;
}


/**
 * LANDING PAGE
 */
.landing-search {
    height: 100vh;
    background: url(/img/search-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landing-page #global_alert_container {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: 1;
}

/**
 * MY BOOKINGS
 */
table.bookings-table {
    width: 100%;
}

table.bookings-table tr:not(:first-child) {
    border-top: 1px solid #5a6268;
}
